<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <p>The date is <%=DateTime.strptime('2001 04 6 04 05 06 +7', '%Y %U %w %H %M %S %z')%></p>
  </body>
</html>